.loginForm {
    margin-top: 20vh;
    margin-left:7rem;
    margin-right:7rem;
    width: 300px;
}
.error {
    color:red;
    text-align: center;
}
.center {
    text-align: center;
}

.topRight {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 2em;
    margin-top: 2em;
}
